name: Run Jest Tests on Windows

on: [push, pull_request]

jobs:
  linter:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.12.0

      - name: Install dependencies
        run: npm ci

      - name: Install dependencies
        run: npm run lint

  frontend-tests:
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.12.0

      - name: Install dependencies
        run: npm ci
        working-directory: front-end

      - name: Run Jest tests
        run: npm test -- --ci --runInBand
        working-directory: front-end
        env:
          CI: true

  backend-tests:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.12.0

      - name: Install dependencies
        run: npm ci
        working-directory: api

      - name: Run Jest tests
        run: npm test -- --ci --runInBand
        working-directory: api
        env:
          CI: true

  playwright-tests:
    runs-on: ubuntu-latest

    # PostgreSQL service for the backend
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: hivehand
        ports:
          - 5432:5432
        # Make sure Postgres is ready before migrations
        options: >-
          --health-cmd="pg_isready -U postgres -d hivehand"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5

    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/hivehand

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Run Database Migrations
        run: |
          echo "Running Database Migrations:"
          cd backend/migrations
          psql "postgres://postgres:postgres@localhost:5432/hivehand" -f 001_init.sql
          psql "postgres://postgres:postgres@localhost:5432/hivehand" -f 002_Event_Registration.sql
          psql "postgres://postgres:postgres@localhost:5432/hivehand" -f 003_Event_geofence.sql
          psql "postgres://postgres:postgres@localhost:5432/hivehand" -f 004_Event_attendance.sql

      - name: Start Backend
        run: |
          cd backend
          npm run dev &
          npx wait-on -t 120000 "http://localhost:4000"
          

      - name: Start Frontend
        run: |
          cd frontend
          npm run dev

      - name: Wait for services to be ready
        run: |
          npx wait-on \
            "http://localhost:4000" \   # backend URL
            "http://localhost:5173"     # frontend URL

      - name: Install Playwright
        run: npx playwright install --with-deps chromium
        
      - name: Run Playwright tests
        env:
          BASE_URL: "http://localhost:5173"
        run: npx playwright test --workers=1 --reporter=list
